.store-detail {
    padding: 20px;
    min-height: 100vh; /* Ensures the div takes up the full viewport height */
    background-image: url('../assets/media/website-details-background.png'); /* Adjust the path based on your directory structure */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Ensure it can be layered */
    z-index: 1; /* Lower z-index to be below the navbar */
}

.store-detail {
    display: flex;
    flex-direction: column;
  }
  
  
  .content {
    display: flex;
    flex: 1;
  }
  
  .leftside-menu {
    width: 200px; /* Adjust the width as needed */
    /* Add your leftside menu styles here */
    /* border: 1px solid black; */
  }
  
  .rightside-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 135px;
    /* border: 1px solid black;  */
  }
  
  .search-bar {
    /* Add your search bar styles here */
    margin-bottom: 20px; /* Adjust the margin as needed */
    
  }
  
  .display-entity {
    /* Add your display entity styles here */
    flex: 1;
  }