.employee-form {
  position: relative;
  border: 1px solid black; /* Add border */
}

.button-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 10px;
}

.add-employee-button,
.remove-employee-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-employee-button img,
.remove-employee-button img {
  width: 45px;
  height: 45px;
  background-color: #78c093; /* Set background color to light blue */
  border-radius: 50%; /* Make the corners circular */
  /* padding: 0px;  */
}

.employee-form .add-employee-button,
.employee-form .remove-employee-button {
  opacity: 0;
  transition: opacity 0.3s;
}

.employee-form:hover .add-employee-button,
.employee-form:hover .remove-employee-button {
  opacity: 1;
}