.store-card {
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s; 
    
  }
/*   
  .store-card:hover {
    transform: scale(1.05); 
  } */
  
  /* .title h2 {
    margin: 0;
  } */
  
  /* .store-information p {
    margin: 5px 0;
  } */